# Data Types
There are 5 types of dtypes:          
1)int             
2)float             
3)String              
4)bool             
5)complex

In [1]:
type(7)        #type is used to see dtype 
#7 is a integer

int

In [2]:
type(6.44)
#decimal means floating dtype

float

In [3]:
type('hi')
#character are string dtype

str

In [4]:
bool(0)
#bool of 0 is false and bool of anything other than 0 is True

False

In [5]:
bool(2)

True

In [1]:
bool(0.0)

False

In [6]:
type(True)
#True and False is of Boolean dtype

bool

In [7]:
type(4+7j)
#any form of a+bj is complex

complex

# Basic operations

In [8]:
4+6

10

In [9]:
8*7

56

In [10]:
9/2
#Single slash returns value in float

4.5

In [11]:
9//2
#double slash returns value in int

4

# Taking input in variables
There are some rules for variables:            
1)Name of a variable should be start with character or underscore, it can't be start with number or any other special character.      
2)variable name can't have any empty space                
3)Keywords can't be used as variable name            
4)special characters like (!,&,%,@,#,^,*,$) can't be used

In [12]:
a=input()
#syntax of taking input

67

In [13]:
type(a)
#Default input variable is string

str

In [14]:
#If we want to change dtype of variable 
b=int(input())

56

In [15]:
type(b)
#This method is called implicit typecasting

int

In [16]:
int(a)

67

In [17]:
type(a)

str

In [18]:
type(int(a))
#this typecasting is explicit typecasting

int

# More in variables

In [1]:
my_first_name="Sarthak"
my_last_name='Aggarwal'        #double and single quote both are same in python
print(my_first_name)
print(my_last_name)
print(my_first_name +" "+ my_last_name)          #Adding both varibale adds both strings

Sarthak
Aggarwal
Sarthak Aggarwal

In [20]:
print("My First name is {} and my Last name is {}".format(my_first_name,my_last_name))

My First name is Sarthak and my Last name is Aggarwal

In [2]:
print(f"My first name is {my_first_name}")

My first name is Sarthak

In [4]:
print("My first name is "+my_first_name+" and my last name is "+my_last_name)

My first name is Sarthak and my last name is Aggarwal