# What is PYTHON ?

Python is a high-level, general-purpose, and interpreted programming language used in various sectors including machine learning, artificial intelligence, data analysis, web development, and many more

Python was Created by Guido van Rossum and was first released in 1991

# Why Python ?

- Easy to read and understand
- Interpreted language
- Object-oriented programming language
- Free and open-source
- Versatile and Extensible
- Multi-platform
- Hundreds of libraries and frameworks
- Flexible, supports GUI
- Dynamically typed
- Huge and active community

# Topics we covered in python

Today we cover 10 topics of python:
1) Data types and Variables                       
2) Operators in Python                                 
3) Conditionals- If, else statements                               
4) Loops                               
5) List                               
6) Tuple                                            
7) Sets                                
8) Dictionary                                   
9) String                                     
10) Functions

## 1) Data types and Variables

We did not specify the type of the variable a, which has the value five from an integer. The Python interpreter will automatically interpret the variable as an integer. There are 5 types of dtypes:
- int
- float
- String
- bool
- complex

In [1]:
type(7)        #type is used to see dtype 
#7 is a integer

int

In [1]:
type(6.44)
#decimal means floating dtype

float

In [3]:
type('Hi')
#character are string dtype

str

In [2]:
type("7")

str

In [4]:
bool(0)
#bool of 0 is false and bool of anything other than 0 is True

False

In [5]:
bool(2)

True

In [6]:
type(True)
#True and False is of Boolean dtype

bool

In [7]:
type(4+7j)
#any form of a+bj is complex

complex

### Taking input in variables
There are some rules for declaration of a variable:
- Name of a variable should be start with character or underscore, it can't be start with number or any other special character.
- variable name can't have any empty space                
- Keywords can't be used as variable name            
- special characters like (!,&,%,@,#,^,*) can't be used

In [11]:
a=int(input())
#syntax of taking input

35

In [12]:
type(a)
#Default input variable is string

int

In [10]:
#If we want to change dtype of variable 
b=int(input())

45

In [11]:
type(b)
#This method is called implicit typecasting

int

In [13]:
int(a)

35

In [13]:
type(a)

str

In [14]:
type(int(a))
#this typecasting is explicit typecasting

int

In [15]:
my_first_name="Sarthak"
my_last_name='Aggarwal'        #double and single quote both are same in python
print(my_first_name)
print(my_last_name)
print(my_first_name + my_last_name)          #Adding both varibale adds both strings

Sarthak
Aggarwal
SarthakAggarwal

In [16]:
print("My First name is {} and my Last name is {}".format(my_first_name,my_last_name))

My First name is Sarthak and my Last name is Aggarwal

## 2)Operators in Python
- Arithmetic Operators                     
- Assignment Operators               
- Comparison Operators                 
- Logical Operators               
- Identity Operators                 
- Membership Operaors              
- Bitwise Operators

### i) Arithmetic operator

In [14]:
num_1=10
num_2=5

#Addition
sum = num_1 + num_2
print('Sum =',sum)

Sum = 15

In [18]:
#Subtraction
diff = num_2 - num_1
print('Difference =',diff)

Difference = -5

In [19]:
#Multiplication
prod = num_1 * num_2
print('Product =',prod)

Product = 50

In [20]:
#Division
div = num_2 / num_1
print('Division =',div)

Division = 0.5

In [21]:
#Floor division
floor = num_1 // num_2
print('Floor =',floor)            # retruns integer quotient

Floor = 2

In [22]:
#Exponent
exp = num_1**num_2
print('Exponent =',exp)           # returns the power

Exponent = 100000

In [23]:
#Modulus
mod = num_1 % num_2
print('Modulus =',mod)            # returns remainder

Modulus = 0

### ii)Assignment operator

In [24]:
a = 5                  # "=" is assignment operator
print(a)

5

In [25]:
a = 5
a += 5                 # "+=" means a= a+5
print(a)

10

In [26]:
b = 10
b -= 2                 # "-=" means b= b-2
print(b)

8

In [27]:
c = 3
c *= 4                # c= c*4
print(c)

12

In [28]:
c = 3
c **= 4               # c= c^4
print(c)

81

In [29]:
c = 5
c /= 2                # c= c/2
print(c)

2.5

In [30]:
c = 12
c %=3                # c= c%3
print(c)

0

### iii)Comparison Operators - returns either true or false

In [31]:
a = 5
b = 10

In [32]:
print(a == b)       #equal to

False

In [33]:
print(a != b)       #not equal to

True

In [34]:
print(a > b)        #greater than

False

In [35]:
print(a < b)        #less than

True

In [36]:
print(a <= b)       #less than equal to

True

In [37]:
print(a >= b)       #greater than equal to

False

### iv)Logical Operators

In [38]:
a = 10

In [39]:
#and
print( a>20 and a<10)
print( a <=10 and a>8)       #True if both are true

False
True

In [40]:
#or
print( a>9 or a>30)
print( a>20 or a==12)        #True if either one is true

True
False

In [41]:
#not
print( not(a>5))             #returns opposite

False

### v)Identity Opeartors

In [42]:
x = 5
y = 5

In [43]:
#is
print(x is y)         #Returns true if both are same

True

In [44]:
#is not
print(x is not y)

False

### vi)Membership Operators

In [45]:
a = 5
b = 10
c = [1,2,3,4,5]

In [46]:
# in
print(a in c)
print(a not in c)            #true if element is in the object

True
False

In [47]:
# not in
print(b in c)
print(b not in c)

False
True

### vii)Bitwise Operators - Check each bit at each place

In [48]:
a=3       #3=011
b=6       #6=110

In [49]:
# and- returns 1 if both are 1
print(a&b)           #010=2

2

In [50]:
# or- returns 1 if either is 1
print(a|b)           #111=7

7

In [52]:
# Not- ~n=-(n+1)
print(~a)
print(~b)

-4
-7

## 3)Conditionals- if,else,elif statements

There comes situations in real life when we need to do some specific task and based on some specific conditions and, we decide what should we do next. Similarly there comes a situation in programming where a specific task is to be performed if a specific condition is True. In such cases, conditional statements can be used.

In [53]:
# Simple if-else statements -- for 1 condition

a=int(input())
b=int(input())

if a>b:
    print(a,"is greater number than",b)
else:
    print(b,"is greater number than",a)

34
45
45 is greater number than 34

In [54]:
#if-elif-else -- for more than 1 condition

a=int(input())
b=int(input())

if a>b:
    print(a,"is greater number than",b)
elif a==b:
    print("Both are equal numbers")
else:
    print(b,"is greater number than",a)

45
78
78 is greater number than 45

In [55]:
#Nested-if 

a = int(input())
b = int(input())
c = int(input())

if(a>b):                  #identitation matters
    if(a>c):
        print('a is greatest number')
    else:
        print('c is greatest number')
else:
    if(b>c):
        print('b is the greatest number')
    else:
        print('c is the greatest number')

34
76
47
b is the greatest number

## 4)Loops 
If we want to automate a repetitive process, we can use loops to do that. A
loop is a programming structure that executes the same code over and over
again, as long as a certain condition is met.

In [56]:
# While loop

number = 0
while number < 10 :        # execute until condition is true
    number += 1
    print (number)

1
2
3
4
5
6
7
8
9
10

In [3]:
for i in range(10,16,2):
    print(i)

10
12
14

In [57]:
number = 0
while number < 10 :
    number += 1
    if number==4:
        continue     # it skips the value
    if number==6:
        pass         # it do nothing just helps in running scripts
    if number==8:
        break        # break the flow of loop
    print (number)

1
2
3
5
6
7

In [58]:
# for loop

numbers = [ 10 , 20 , 30 , 40 ]
for number in numbers:
    print (number)

10
20
30
40

In [59]:
# range function 

for i in range(10,15):
    print(i)

10
11
12
13
14

## 5)Lists
A list is a data structure in Python that is mutable, or Changeable, ordered sequence of elements. Each elements or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square bracket.

- Can contains different data types
- Mutable
- Indexing is there
- Duplicate elements are allowed.

In [60]:
# List vs Array

Array is Homogenous- One Data type                              
list is heterogenous- Multiple Dtype                                 

Arrays are much faster                                
List are more programmer friendly

In [61]:
# How to Create a List

L1=[]        #empty list

L2=[1,2,3,4,5]       #List having int dtype elements

L3=[1,'hi',6.7]      #List having multiple dtype

print(L1)
print(L2)
print(L3)
type(L1)

[]
[1, 2, 3, 4, 5]
[1, 'hi', 6.7]

list

In [62]:
# Creating Multi-Dimensional List

L4=[1,2,[3,4]]       #2d list

L5=[[[1,2],[3,4]],[[5,6],[7,8]]]       #3-d list

print(L4)
print(L5)

[1, 2, [3, 4]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [63]:
l=list("haldia")
l

['h', 'a', 'l', 'd', 'i', 'a']

In [64]:
# Indexing and slicing

print(L2[2])        #print 3rd element in L2 list

print(L2[0:4:2])   # [a:b:c]-  a=starting index, b=ending index, c=gap between index

3
[1, 3]

In [65]:
# Editing in List- Since list are mutable so we can change them

L2[0]=100
print(L2)        # Replace 0th index element with new element

[100, 2, 3, 4, 5]

In [66]:
L2[1:5]=[200,300,400,500]
print(L2)                #Raplace the elements

[100, 200, 300, 400, 500]

### Adding elements in list

In [67]:
# append- Adds items in last

L6=[1,2,3,4,5,6,7]
L6.append(10)        #add 10 at last
print(L6)

[1, 2, 3, 4, 5, 6, 7, 10]

In [68]:
# extend- Adds multiple items in last

L6.extend(['hi','hlo',11])
print(L6)

[1, 2, 3, 4, 5, 6, 7, 10, 'hi', 'hlo', 11]

In [69]:
# insert- we can add element at a specific index

L6.insert(3,"ok")     #add ok at 4th position
L6

[1, 2, 3, 'ok', 4, 5, 6, 7, 10, 'hi', 'hlo', 11]

### Deleting items from list

In [70]:
# del- delete complete list

del L6      # L6 is now deleted

In [71]:
L6       # L6 is not defined

NameError: name 'L6' is not defined

In [72]:
#del with index

L7=[1,2,3,4,5]

del L7[1]      # delete 2 of L7

L7

[1, 3, 4, 5]

In [73]:
# remove- write item name to delete

L8=[1,5,0,'hi',87]
L8.remove(5)      #remove 5
L8

[1, 0, 'hi', 87]

In [74]:
# pop- remove last element
L8.pop()

87

In [75]:
# clear- empty the list
L8.clear()
L8

[]

### Operations in list

In [76]:
l1=[1,2,3,4]
l2=[5,6,7,8]

print(l1 + l2)       #make a single list

print(l1*3)          #repeat elemnts of l1 thrice

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [77]:
4 in l1

True

In [78]:
5 in l1

False

### Functions in list

In [79]:
len(l1)       #tells about number of elements

4

In [80]:
min(l1)       # smallest number

1

In [5]:
L1=[1,2]
min(L1)

1

In [6]:
a="hlo"
b="z"
if a>b:
    print("true")
else:
    print("sjsjk")

sjsjk

In [81]:
max(l1)       # largest element

4

In [82]:
l3=[2,6,3,9,7,17,34,1]
l3

[2, 6, 3, 9, 7, 17, 34, 1]

In [83]:
sorted(l3,reverse=True)       # sort in decreasing order but it is temporary

[34, 17, 9, 7, 6, 3, 2, 1]

In [84]:
l3

[2, 6, 3, 9, 7, 17, 34, 1]

In [85]:
sorted(l3)                 #sort in incresing order and also temporary

[1, 2, 3, 6, 7, 9, 17, 34]

In [86]:
l3

[2, 6, 3, 9, 7, 17, 34, 1]

In [87]:
# permanent sorting

l3.sort()

In [88]:
l3

[1, 2, 3, 6, 7, 9, 17, 34]

In [89]:
l3.sort(reverse=True)
l3

[34, 17, 9, 7, 6, 3, 2, 1]

## 6)Tuples 
Tuple is a collection which is ordered and unchangeable. Allows duplicate members

- Not Mutable
- Allows Duplicates Elements
- Indexing is there
- uses () parantheses

In [90]:
# Creating empty tuple

my_tuple=tuple()

In [1]:
a=()
type(a)

tuple

In [91]:
type(my_tuple)

tuple

In [92]:
my_tuple=()
print(type(my_tuple))

<class 'tuple'>

In [93]:
t1=('sarthak','aggarwal')

In [94]:
t1[0]

'sarthak'

In [95]:
t1[1]='hi'       #it is not mutable

TypeError: 'tuple' object does not support item assignment

In [96]:
t2=['hlo','my','name','is','sarthak','aggarwal']
print(t2)

['hlo', 'my', 'name', 'is', 'sarthak', 'aggarwal']

In [97]:
t2.count('hlo')        #how many times hlo is appeared

1

In [98]:
t2.index('is')         #index of is

3

## 7)Sets
A Set is an unorderd collection data type that is iterable,mutable,and has no duplicate elements. Python's set class represents the mathematical notion of a set. This is based on a data structure known as hash table.

- Contains diff data types
- Mutable
- No duplicates are allowed
- No indexing
- support mathematical operations
- curly brackets is used {} to define sets

In [99]:
# Definining an empty set

s1=set()
print(s1)
print(type(s1))

set()
<class 'set'>

In [2]:
b={}
type(b)

dict

In [3]:
s2={1,2,3,4,3}
s2                    # no duplicated elements is allowed-one element appeared once

{1, 2, 3, 4}

In [4]:
s2[1]                # set doen't support indexing

TypeError: 'set' object is not subscriptable

In [5]:
# Inbuilt functions in sets

s2.add("Hiii")        #add element is last and can contain multiple dtype
print(s2)

{1, 2, 3, 4, 'Hiii'}

### Mathematical operations-Just like sets in maths

In [103]:
set1= {1,2,3,4,5,6}
set2= {1,4,7,9}

In [104]:
#set difference
set2.difference(set1)         #Just like sets in Maths-temporary

{7, 9}

In [105]:
set2          #No change in set2 even after set diff operation

{1, 4, 7, 9}

In [106]:
# Difference Update-permanent
set2.difference_update(set1)

In [107]:
set2

{7, 9}

In [108]:
set2={1,3,5,8}

In [109]:
set2.intersection(set1)              # returns common element in set1 and set2

{1, 3, 5}

In [110]:
set2.union(set1)            # returns every elements of set1 and set2

{1, 2, 3, 4, 5, 6, 8}

## 8)Dictionary
A dictionary is a collection which is unordered,changaeble and indexed. In Python dictionaries are written with curly brackets, and they have keys and values. Duplicates are not allowed in dictionary.

- Mutable
- Indexing is there
- Duplicates are not allowed
- curly brackets used with : and ,
- key must be a single element
- values can be any data type

In [111]:
dict={}
type(dict)       #empty dictionary

dict

In [112]:
dict1={1}
type(dict1)

set

In [113]:
dict2=set()
type(dict2)

set

In [10]:
# Creating a dictionary

my_dict={1:"pizza", 2:"pizza"}

In [11]:
my_dict

{1: 'pizza', 2: 'pizza'}

In [116]:
# Access the item values based on keys

my_dict['rohan']

'burger'

In [117]:
# We can even loop through the dict values

for x in my_dict:
    print(x)

rohan
sohan

In [118]:
for x in my_dict.values():
    print(x)

burger
pizza

In [119]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('rohan', 'burger')
('sohan', 'pizza')

In [120]:
# Adding items in dictionaries

my_dict['sahil']="fries"
my_dict

{'rohan': 'burger', 'sohan': 'pizza', 'sahil': 'fries'}

In [121]:
# deleting items in dictionary

del my_dict['sohan']
my_dict

{'rohan': 'burger', 'sahil': 'fries'}

In [122]:
my_dict['sohan']='pizza'

### Nested dicitionary

In [123]:
rohan_age={'bureger':17}
sohan_age={'pizza':19}
sahil_age={'fries':20}

new_dict={'rohan':rohan_age,'sohan':sohan_age,'sahil':sahil_age}

In [124]:
new_dict

{'rohan': {'bureger': 17}, 'sohan': {'pizza': 19}, 'sahil': {'fries': 20}}

In [125]:
# Accessing the items in the dictionary
print(new_dict['rohan'])

{'bureger': 17}

In [126]:
print(new_dict['sohan']['pizza'])

19

## 9) Strings
A String is a data structure in Python that represents a sequence of characters. It is an immutable data type, meaning that once you have created a string, you cannot change it.

In [127]:
# Creating strings

a='hello'
print(a)
type(a)

hello

str

In [18]:
# Accessing strings from a string

b="shivendra keshari"

print(b[3])      # prints 4th string
print(b[-4])     # orints last 4th string

v
h

In [129]:
# string slicing

print(b[2:16:2])    # [start index:end index:gap b/w index]

loalIa

In [19]:
print(b[::-1])      # it just reverse the string

irahsek ardnevihs

In [131]:
# editing and deleting 

del a

In [132]:
print(a)

NameError: name 'a' is not defined

### operations in strings

In [133]:
# Arithmetic Operators

print("hello"+"world")
print("hello"+"-"+"world")
print("$"*20)

helloworld
hello-world
$$$$$$$$$$$$$$$$$$$$

In [134]:
#Relational Operators- based on Lexiographically( Dictionary mei jo word pehle aayega wo small hoga)

"hello"=="world"

False

In [135]:
"mumbai">"pune"

False

In [136]:
"absolute"<"yoyo"

True

In [137]:
# Logical Operators- "" -False        "hi"-True

"" and "hi"     # false and true-false

''

In [138]:
"" or "hi"      #false or true-true

'hi'

In [139]:
"hello" or "hi"    #prints where it gets true so hello

'hello'

In [140]:
"hello" and "hi"      # get true after hi

'hi'

In [141]:
# Loops on strings

c="helllo world"
for i in c[::-1]:
    print(i)

d
l
r
o
w

o
l
l
l
e
h

In [142]:
# Membership Operators

"hi" in c

False

In [143]:
"h" in c

True

### Escape characters
\t-tab                                        
\n-new line                                                       
\b-backspace

In [8]:
print("hello\tworld")
print("hello\nworld")
print("hello\bworld")
print("hello\\world")

hello	world
hello
world
helloworld
hello\world

### String Case Manipulative Function

In [145]:
Text="HiLo kAisO HO saB"

# string.lower()- Converts all letters to lowercase
print(Text.lower())

# string.upper()- Converts all letters to uppercase
print(Text.upper())

# string.title()- Converts all letters to titlecase
print(Text.title())

# string.capitalize()- Converts first letter to uppercase
print(Text.capitalize())

#string.swapcase()- Swaps the cases of all letters
print(Text.swapcase())

hilo kaiso ho sab
HILO KAISO HO SAB
Hilo Kaiso Ho Sab
Hilo kaiso ho sab
hIlO KaISo ho SAb

### Functions in string

In [10]:
# Count function- Counts how many time a specific string occur

Text="HiiKii"
print(Text.count("i"))

4

In [11]:
# find function- It prints the index number where that first string occur

Text.find("i")

1

In [12]:
# Join function- We can join string by using a unique separation

names=["Dhoni","Kohli","Rohit"]
sep= "///"
print(sep.join(names))

Dhoni///Kohli///Rohit

In [13]:
# Replace function- It replaces a string with another string

Text="Hii Guykz"
print(Text.replace("i","m"))

Hmm Guykz

In [150]:
# split function- It Splits specific part of a string and put them in a list

name="anna,john,mary"
print(name.split(","))

['anna', 'john', 'mary']

## 10)Functions
Python Functions is a block of statements that return the specific task. The idea is to put some commonly or repeatedly done tasks together and make a function so that instead of writing the same code again and again for different inputs, we can do the function calls to reuse code contained in it over and over again.

Some Benefits of Using Functions

- Increase Code Readability 
- Increase Code Reusability

In [151]:
# Defining Function- use def keyword along with function name and ():

def hello():      #function defined
    print("hii")
hello()            #function called

hii

### Parameters and arguments
A parameter is the variable listed inside the parantheses in the function definition.

An argument is the value that is sent to the function when it is called.

In [152]:
def print_sum(a,b):     # a and b are parameters
    print(a+b)
print_sum(45,12)        # 45 and 12 are arguments

57

Number of paramters and arguments should be same

### Return values
If we want to save the value, we use return argument keyword to save it in a variable

In [153]:
def avg(a,b):
    """This is the average of 2 given numbers"""     #Lines put in triple quotes just after defining function is called docstring
    average=(a+b)/2
    return average
v=avg(5,7)        # average of 5 and 7 is stored in variable v
print(avg.__doc__)      #syntax to print doctring
print(v)

This is the average of 2 given numbers
6.0

### Variable parameters 
We use asterisk symbol(*) in our paramters

In [154]:
def print_sum(*numbers):
    result=0
    for x in numbers:
        result=result+x
    print(result)
print_sum(10,20,30,40)

100

### Scope

In [155]:
def function():
    n=10
    print(n)
print(n)     # Can't access outside structure because it exists only inside the function

NameError: name 'n' is not defined

In [156]:
n=10
def function():
    print(n)
function()     # it is a local variable. it works but we can't manipulate it

10

In [157]:
n=20
def function():
    global n
    n=n+10
    print(n)
function()     # now we can manipulate it also as n is now a global variable

30

### Program

In [158]:
# Factorial of a number(using loop)
number = int(input("Enter the number: "))

factorial = 1
if number == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1, number+1):           # range(1,6)= include 1 and exclude 6
        factorial = factorial*i            
print("The factorial of {} is {}".format(number,factorial))

Enter the number: 5
The factorial of 5 is 120